.messages {
  border: 1px solid #000;
  margin: 10px;
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  padding: 5px;

  &__author {
    font-weight: bold;
  }

  &__date {
    font-size: 12px;
    font-style: italic;
  }
}
