.emojis {
  position: absolute;
  right: 4rem;
  top: 0.05rem;

  &__img {
    position: relative;
  }

  &__img:hover {
    cursor: pointer;
  }

  &__picker {
    position: absolute;
    top: 1.5rem;
    right: 0;
  }
}
